/* responsive */
@media only screen 
    and (max-width: 500px){
        
        body{
            margin: 1.5rem 1rem 1rem 1rem;
        }
        .nav-bar {
            visibility: hidden;
            display: none;
        }   

        footer{
            visibility: visible;
            display: block;
            justify-content: left;
            align-items: center;
            border-top: 1px solid #EFEFEF;
        }
        footer li{
            flex-direction: column;
            
        }
        
    }
@media only screen 
    and (max-width: 950px){
        .nav-bar{
            border-left: 1px solid #EFEFEF;
        }
}
